.divider_blocks{
    
    align-content: center;
    width: 100%;
    height: 100%;
    
}

html, body, .main_block{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgb(44, 45, 47);
    color: rgb(255, 251, 245);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input{
    display: flex;
    height: 10%;
}

.text_input{
    width: 100%;
    background-color: rgb(44, 45, 47);
    color: white;
}

.main_block{
    flex-direction: column;
}

#left_block{
    background-color: rgb(44, 45, 47);
}

#right_block{
    width: 50%;
    background-color: rgb(67, 69, 72);
}

#send_button{
    width: 10%;
}

#message_block{
    background-color: rgb(28, 29, 30);
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    overflow-y: auto;
}

#head{
    height: 10%;
}

.message{
    min-width: 200px;
    max-width: 300px;
    min-height: 50px;
    background-color: rgb(39, 42, 49);
    
}

#player_selector{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: medium;
}

.inside_block{
    display: flex;
    flex-direction: column;
}